body{
    
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(66,69,68,1) 15%, rgba(52,136,104,1) 30%, rgba(42,182,122,1) 50%, rgba(52,136,104,1) 70%, rgba(66,69,68,1) 85%, rgba(0,0,0,1) 100%);

    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}
.letrasTIpoA{
    color: bisque; 
}
.textoA {
    background: #000000;
    background: repeating-linear-gradient(to right, #000000 0%, #21815F 20%, #22C38B 38%, #FDBB2D 48%, #FBD481 86%, #F9F4EA 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.textoB{
    background: #FFD114;
background: linear-gradient(to right, #FFD114 0%, #FDBB2D 36%, #FBD481 57%, #FFD100 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.textoDANGER{
    
    background: #000000;
    background: linear-gradient(to right, #000000 0%, #C8042C 36%, #FF0034 57%, #ffa0b3 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.barra{
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(66,69,68,1) 15%, rgba(52,136,104,1) 30%, rgba(42,182,122,1) 50%, rgba(52,136,104,1) 70%, rgba(66,69,68,1) 85%, rgba(0,0,0,1) 100%);

}
.block1{
    background-image: url(Repositorio/elden1.jpg);
    background-size: cover;
    background-position:center ;
    background-repeat: no-repeat;
}
.block2{
    background-image: url(Repositorio/fondo3.jpg);
    background-size: cover;
    background-position:center ;
    background-repeat: no-repeat;
}
.blockR{
    background-image: url(Repositorio/R.RconCasco.png);
    background-size: cover;
    background-position:center ;
    background-repeat: no-repeat;
}
.blockDRA{
    background-image: url(Repositorio/fondo4.png);
    background-size: cover;
    background-position:center ;
    background-repeat: no-repeat;
}
.blockD{
    background-image: url(Repositorio/drago.jpg);
    background-size: cover;
    background-position:center ;
    background-repeat: no-repeat;
}
.imgRad{
    border-radius: 100%;
    height:35vh ;
    
}

.btn :hover{
    background-color: red;
}
.imgCrd{
    height: 70vh;
}